{{!-- Setup the index.handlebars to have the template that Handlebars can render onto --}}
{{!-- Create a button in index.handlebars that will submit the user input into the database. --}}

<h1>Burgers</h1>

<ol>
    {{#each burger}}
        {{#unless devour}}
            <form>
                <input type='text' value={{this.burger_name}}>
                <button id='devourbtn'>Devour IT!</button>
            </form>            
        {{/unless}}
    {{/each}}
</ol>

<ol>
  {{#each burger}}
    {{#if devour}}
    {{/if}}
  {{/each}}
</ol>